p {
    font-weight: bold;
    font-size: 5em;
    color: white;
    text-shadow: 0.07em 0.07em 0.05em black;
    background-image: none;
    background-color: transparent;
  }
  
  div {
    background-image: url("catch26s.jpg");
  }
  
  .img {
    background-image: url("css-filter.webp");
    background-color: transparent;
  }
  